@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

*{
    color: 7E57C2;
    background-color: #b6d9e2;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #b6d9e2e3 !important;
}
nav{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #04c5f0;
    justify-content: space-between;
    align-items: center;
}
#home h1{
    text-transform: capitalize !important;
    line-height: 50px;
    text-align:justify;
    
}

#home h1 span{
    color: #7e57c2;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 1s infinite ease-in-out;
}
@keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
#home .btn{
    letter-spacing: 3px !important;
} 
#about .img-cover{ 
    border: none !important; 
}
#about .box{
    width: auto;
    height: 300px;
    overflow: hidden;
    background: transparent !important;


}
#about .box img{
    width: auto;
    height: auto;
    background: transparent !important;
}
#about p{
    text-align: justify;
}

.skills{
    padding-top: 20%;
    font-size: 10px;
    width: 500px ;
    /* height: 10px; */
    margin: 10px auto;
    color:  #7e57c2;;
    padding: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.skills ul{
    margin: 0px 0;
    padding: 20px;
}
.code{
    background: WH;
    /* align-content: center; */
    display: block;
    height: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.code:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.20);
}
.code span{
    height: 50px;
    float: left;
    background: linear-gradient(135deg, rgb(134, 122, 161)0%, rgb(223, 106, 195)100%);
}
.c{
    width: 90%;
    animation: c 4s;
}
.python{
    width: 60%;
    animation: cplus 4s;
}
.html{
    width: 50%;
    animation: html 4s;
}
.msoffice{
    width: 100%;
    animation: css 4s;
}

#project .card img{
    width: auto;
    height: 240px;
}
#btn-1,#btn-2{
        border: 2px solid #353333;
        border-radius: 30px;
        margin-left:10px ;
        letter-spacing: 2px;
        
    }
    #btn-1 i{
        background: transparent;
    }
    #btn-2 i{
        background: transparent;
    }
    #btn-2:hover{
        background-color: #7e57c2;
        
    }
    #btn-1:hover{
        background-color: #7e57c2;
        
}

.center{
    text-align: center;
}
.card-title{
    background-color: black;
    text-align: center;
    padding: 6px;
    color: #f5f6fa;
    text-transform: capitalize;
    font-weight: lighter;
    letter-spacing: 1px;
}

#contact input{
    border: none !important;
    background-color: #f5f6fa;
    border-bottom: 2px solid #383535 !important;
}
#contact input:focus{
    border-bottom: 2px solid #7e57c2 !important;

}
#contact textarea{
    border: none !important;
    border-bottom: 2px solid #353333 !important;
    background-color: transparent !important;
}
#contact textarea:focus{
    border-bottom: 2px solid #7e57c2 !important;

}
#contact input:focus{
    box-shadow: none;
}
#contact textarea:focus{
    box-shadow: none;
}
#submit{
    letter-spacing: 2px;
    border: 2px solid #353333;
    border-radius: 50px;
}
#submit:hover{
    background-color: #7e57c2;
}
#submit i{
        background-color: transparent;
    }

/* #footer{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
} */

/* education section style  */
#education_section{
    padding: 80px 0px;
    justify-content: center;
}

#education_section .edu_title{
    color: black;
    font-size: 50px;
    margin-bottom: 20px;
    justify-content: center;
    
}
.education{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}
.education_info{
    display: flex;
    justify-content: relative;
    width: 800px;
    position: relative;
}
.education_info h1{
    margin-right: 50px;
    background-color: rgb(153, 150, 150);
    height: 45px;
    padding:5px 10px;
    font-size: 30px;
    color: #7e57c2;
    position: relative;
}
.education_info h1::after{
    content: "";
    width:0px;
    height: 0px;
    border-style: solid;
    border-color: transparent rgb(153, 150, 150) transparent transparent;
    transform: rotate(180deg);
    border-width: 23px;
    position: absolute;
    right: -45px;
    top:0;
}
.education_contents h2{
    color: #7e57c2;
    font-size: 25px;
    padding: 0 20px 0 30px;
    position: relative;
}
.education_contents h3{
    color:black;
    font-size: 20px;
}
.education_contents p{
    color:black;
    font-size: 20px;
    padding-top: 15px;
}
.education_contents h2::before{
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    background-color: var(--secondary);
    box-shadow: -5px 3px 50px 7px #491486;
    position: absolute;
    top:10px;
    left: -15px;
}
.education_content{
    margin-top:15px;
    border-left: 3px solid black;
    padding: 0 20px 0 30px;
}
.footer{
    width: 100%;
    padding-top: 20px;
}
.footer h4{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
}
.footer{
    width: 100%;
    text-align: center;
}
.footer h6{
    font-size: 12px;
     font-weight: 300;
}
.footer p{
    font-size: 10px;
    color: grey;
}
.icons{
    font-size: 35px;
    color: #8d5ab9;
    cursor: pointer;  
}
.span{
    color: #229d9d;

}
.fb-title h1{
   
    max-width: 900px;
    font-size: 50px;
    font-weight: 300;
    color: black;
    padding-top: 6%;
    padding-bottom: 5%;
    letter-spacing: .2rem;
    text-align: center;
    justify-content: center;
}
.fb-title h1 span{
    color:  #f08a04;

}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #footer a img{
    width: 15px;
    margin: 5px;
}
#footer a:hover img{
    width: 10px;
} */